// Turn of notifications
.label-detail-page .sw-page__top-bar-actions {
    display: none;
}

// Image in sidebar
.label-detail-page .label-image-container {
    margin: 0 auto 40px auto;
    padding: 10px;

    .label-image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
}


