<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Event</title>
        <input-field>
            <name>eventName</name>
            <label>Event Tab</label>
            <placeholder>Event</placeholder>
            <defaultValue>Thema</defaultValue>
        </input-field>

        <input-field>
            <name>firstLineEventCSS</name>
            <label>Erste Zeile CSS</label>
            <placeholder>Bestimme die Farbe der ersten Zeile z.B #000000</placeholder>
            <defaultValue>#000000</defaultValue>
        </input-field>

        <input-field>
            <name>secondLineEventCSS</name>
            <label>Zweite Zeile CSS</label>
            <placeholder>Bestimme die Farbe der zweiten Zeile z.B #000000</placeholder>
            <defaultValue>#000000</defaultValue>
        </input-field>

        <component name="sw-text-editor">
            <name>eventHeader</name>
            <label>Event Header</label>
            <placeholder>Wähle dein ...</placeholder>
            <defaultValue>&lt;h3&gt;Wähle zunächst dein Thema!&lt;/h3&gt;</defaultValue>
        </component>
    </card>

    <card>
        <title>Label</title>
        <input-field>
            <name>labelName</name>
            <label>Label Tab</label>
            <placeholder>Label</placeholder>
            <defaultValue>Label</defaultValue>
        </input-field>
        <component name="sw-text-editor">
            <name>labelHeader</name>
            <label>Label Header</label>
            <placeholder>Wähle dein ...</placeholder>
            <defaultValue>&lt;h3&gt;Wähle ein Label!&lt;/h3&gt;</defaultValue>
        </component>
    </card>

    <card>
        <title>Candy</title>
        <input-field>
            <name>candyName</name>
            <label>Candy Tab</label>
            <placeholder>Candy</placeholder>
            <defaultValue>Candy</defaultValue>
        </input-field>
        <component name="sw-text-editor">
            <name>candyHeader</name>
            <label>Candy Header</label>
            <placeholder>Wähle eine Süßigkeit ...</placeholder>
            <defaultValue>&lt;h3&gt;Wähle eine Süßigkeit!&lt;/h3&gt;</defaultValue>
        </component>
    </card>

    <card>
        <title>Package</title>
        <input-field>
            <name>packageName</name>
            <label>Package Tab</label>
            <placeholder>Package</placeholder>
            <defaultValue>Package</defaultValue>
        </input-field>
        <component name="sw-text-editor">
            <name>packageHeader</name>
            <label>Package Header</label>
            <placeholder>Wähle deine Verpackung ...</placeholder>
            <defaultValue>&lt;h3&gt;Wähle eine Verpackung!&lt;/h3&gt;</defaultValue>
        </component>
    </card>

    <card>
        <title>Combo</title>
        <input-field>
            <name>comboName</name>
            <label>Combo Tab</label>
            <placeholder>Combo</placeholder>
            <defaultValue>Dein Combo</defaultValue>
        </input-field>
        <component name="sw-text-editor">
            <name>comboHeader</name>
            <label>Combo Header</label>
            <placeholder>Deine Auswahl...</placeholder>
            <defaultValue>&lt;h3&gt;Deine Auswahl: &lt;/h3&gt;</defaultValue>
        </component>
    </card>

    <card>
        <title>Intro Modal</title>
        <input-field type="bool">
            <name>introModalActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>introModalCTA</name>
            <label>Call to action button</label>
            <placeholder>Was soll auf dem button stehen?</placeholder>
            <defaultValue>OK</defaultValue>
        </input-field>
        <input-field>
            <name>introModalCheckbox</name>
            <label>Nicht Mehr Anzeigen - Text</label>
            <placeholder>Was soll dem Kunden Angezeigt werden?</placeholder>
            <defaultValue>Diese Nachricht nicht mehr Anzeigen</defaultValue>
        </input-field>
        <component name="sw-text-editor">
            <name>introModal</name>
            <label>Intro Modal</label>
            <placeholder>Schreibe hier was...</placeholder>
            <defaultValue>
                &lt;h3&gt;Unser Konfigurator ist ein komplexes System, und kann nur von Profis bedient werden! &lt;/h3&gt;
                &lt;p&gt;Wass kommt nach Fizz?&lt;/p&gt;
                &lt;p&gt;Keine Ahnung? Dann lass lieber dein Enkelkind hier einkaufen!&lt;/p&gt;
            </defaultValue>
        </component>
    </card>

    <card>
        <title>Images</title>
        <input-field>
            <name>arrowText</name>
            <label>Text über dem Pfeil</label>
            <defaultValue>Den kleben wir für dich drauf!</defaultValue>
        </input-field>
        <component name="sw-media-field">
            <name>arrowImage</name>
            <label>Wird im Konfigurator am ende der Auswahl eingeblendet.</label>
        </component>

        <component name="sw-media-field">
            <name>placeholderImage</name>
            <label>Zeigt diesen placeholder an bevor das eigentliche Bild geladen worden ist.</label>
        </component>
    </card>

    <card>
        <title>Produktdaten</title>
        <input-field>
            <name>pdButtonText</name>
            <label>Button Text für Produktdaten</label>
            <defaultValue>Produktdaten</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>pdButtonType</name>
            <options>
                <option>
                    <id>btn btn-primary btn-sm</id>
                    <name>Button Primary</name>
                </option>
                <option>
                    <id>btn btn-secondary btn-sm</id>
                    <name>Button Secondary</name>
                </option>
                <option>
                    <id>btn btn-outline-primary btn-sm</id>
                    <name>Button Outline Primary</name>
                </option>
                <option>
                    <id>btn btn-outline-secondary btn-sm</id>
                    <name>Button Outline Secondary</name>
                </option>
                <option>
                    <id>badge badge-primary</id>
                    <name>Badge Primary</name>
                </option>
                <option>
                    <id>badge badge-secondary</id>
                    <name>Badge Secondary</name>
                </option>
                <option>
                    <id>badge badge-light white-badge</id>
                    <name>Badge White</name>
                </option>
            </options>
            <defaultValue>btn btn-secondary btn-sm</defaultValue>
            <label>Button Type</label>
        </input-field>

        <input-field type="single-select">
            <name>pdButtonTypeResult</name>
            <options>
                <option>
                    <id>btn btn-primary btn-sm</id>
                    <name>Button Primary</name>
                </option>
                <option>
                    <id>btn btn-secondary btn-sm</id>
                    <name>Button Secondary</name>
                </option>
                <option>
                    <id>btn btn-outline-primary btn-sm</id>
                    <name>Button Outline Primary</name>
                </option>
                <option>
                    <id>btn btn-outline-secondary btn-sm</id>
                    <name>Button Outline Secondary</name>
                </option>
                <option>
                    <id>badge badge-primary</id>
                    <name>Badge Primary</name>
                </option>
                <option>
                    <id>badge badge-secondary</id>
                    <name>Badge Secondary</name>
                </option>
                <option>
                    <id>badge badge-light white-badge</id>
                    <name>Badge White</name>
                </option>
            </options>
            <defaultValue>btn btn-secondary btn-sm</defaultValue>
            <label>Button Type Result</label>
        </input-field>
    </card>


    <card>
        <title>SEO</title>

        <input-field>
            <name>lmSEOMetaTitle</name>
            <label>SEO Metla Title</label>
            <defaultValue>Label Me</defaultValue>
        </input-field>


        <input-field>
            <name>lmSEOMetaDescription</name>
            <label>SEO Meta Description</label>
            <defaultValue>Mit "Label Me" wählst du die passende Message
                auf dem Sticker deiner Candy-Packung.</defaultValue>
        </input-field>

        <input-field>
            <name>lmSeoKeywords</name>
            <label>SEO Keywords (max 1024 chars)</label>
            <defaultValue>test, example</defaultValue>
        </input-field>

        <input-field type="int">
            <name>lmSeoRevisitAfter</name>
            <label>Revisit After N Days</label>
            <defaultValue>15</defaultValue>
        </input-field>
    </card>


    <card>
        <title>Snippets (double escape quotes \\' for the js part)</title>

        <input-field type="int">
            <name>showNotAvailableBadgeDelay</name>
            <label>Show "not available" Badge on click delay in Milliseconds</label>
            <defaultValue>3000</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Event Not Available</label>
            <snippet>label-me.eventNotAvailable</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Event Not Available - Popup Message</label>
            <snippet>label-me.eventNotAvailableMessage</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Candy Not Available</label>
            <snippet>label-me.candyNotAvailable</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>snippetField</name>
            <label>Event Not Available - Popup Message</label>
            <snippet>label-me.candyNotAvailableMessage</snippet>
        </component>
    </card>

</config>
