// Turn of notifications
.package-detail-page .sw-page__top-bar-actions {
    display: none;
}

// Image in sidebar
.package-detail-page .package-image-container {
    margin: 0 auto 40px auto;
    padding: 10px;

    .package-image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
    }
}


